@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer{
  cursor: pointer;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
:root {
  --color-a: #ffadad; /* pastel red */
  --color-b: #ffd6a5; /* pastel orange */
  --color-c: #fdffb6; /* pastel yellow */
  --color-d: #caffbf; /* pastel green */
  --color-e: #9bf6ff; /* pastel blue */
  --color-f: #a0c4ff; /* pastel purple */
  --color-g: #bdbdbd; /* pastel gray */
}
