@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pointer{
  cursor: pointer;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
:root {
  --color-a: #2c7da0;
  --color-b: #4fb3bf;
  --color-c: #3d4e5b;
  --color-d: #8f9aa9;
  --color-e: #f2f2f2;
}
