.results{
  background-color: var(--content-bg-color);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #bcd;
}
.results-nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.results-nav-title{
  margin: 5px;
}
@media only screen and (min-width: 809px) {
  .results-nav-title{
    font-size: 15px;
  }
  .result,
  .result-labels{
    font-size: 15px;
    display: grid;
  }
}
@media only screen and (min-width: 515px) and (max-width: 808px) {
  .results-nav-title{
    font-size: 13px;
  }
  .result,
  .result-labels{
    font-size: 10px;
    display: grid;
  }
}
@media only screen and (max-width: 514px){
  .result,
  .result-labels{
    display: flex;
    flex-direction: column;
    font-size: 10;
  }
}
.results-nav-buttons{
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.results-nav-buttons button{
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 700;
}
.results-content{
  flex-grow: 1;
}
.result,
.result-labels{
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.result-labels{
  border-bottom: 1px solid #888;
}
.result:hover{
  cursor: pointer;
  background-color: rgb(255, 237, 214);
}
.result *,
.result-labels *{
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.results-alt-item{
  background-color: var(--results-alt-bg-color);
}