.package-search{
  display: flex;
  flex-direction: column;
  border: 1px solid #bcd;
  background-color: var(--content-bg-color);
  width: 100%;
  padding: 0px 10px 0px 10px;
  justify-content: center;
}
.search-title{
  border-bottom: 1px solid #888;
  padding: 15px;
}
.search-field{
  max-width: 1200px;
}
select{
  flex-grow: 1;
}
@media only screen and (min-width:768px) {
  .search-field{
    display: flex;
    justify-content: space-between;
  }
  .search-field button{
    padding: 15px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px){
  .search-field{
    display: flex;
    flex-direction: column;
  }
  .search-field button{
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
  .loading{
    align-self: center;
  }
  .search-field .search-buttons{
    justify-content: center;
  }
}


.search-repo,
.search-arch,
.search-terms{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-field .search-buttons button{
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black;
  min-width: max-content;
  padding: 10px;
}
.search-terms{
  width: 100%;
}
.search-button{
  min-width: max-content;
}
.search-terms input{
  padding: 5px;
  flex-grow: 1;
  width: 100%;
}
.search-repo select,
.search-arch select{
  width: 100%;
}
.search-repo,
.search-arch,
.search-terms{
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}
.loading{
  width: 30px;
}
.search-buttons{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
}