.footer{
  padding-left: 10px;
  padding-right: 10px;
}
.footer p{
  padding: 5px;
}
.footer-img-container{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 3px;
}
.footer-img-container img{
  width: 30px;
}
