.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.App form div {
  margin: 10px;
}

.App form input {
  width: 80%;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}

.App form button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}
.App form button:hover{
  background-color: #cacaca;
}
.App form em{
  color: black;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-img-home {
  width: 50px;
  align-self: center;
}

.search-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-title {
  font-size: 3em;
  color: black;
  font-weight: 700;
  text-align: center;
}
.desc{
  text-align: center;
}
.loading {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
}

.loading img {
  height: 100%;
  width: 100%;
}
.credits,
.source{
  text-align: center;
}
.source a{
  text-decoration: none;
  font-weight: 700;
}
.source a em:hover{
  color: #cacaca;
}
.contact{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact img{
  width: 40px;
  cursor: pointer;
}
.home-em-text{
  font-weight: 700;
  color: #1793D1;
}