.nav{
  background-color: var(--nav-bg-color);
  border-bottom: 5px solid var(--nav-border-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
}
.nav-buttons{
  display: flex;
  color: white;
  align-items: center;
  list-style: none;
  gap: 20px;
  padding: 10px;
  font-weight: 700;
}