.package-search{
  display: flex;
  flex-direction: column;
  border: 1px solid #bcd;
  background-color: var(--content-bg-color);
  width: 100%;
}
.search-title{
  border-bottom: 1px solid #888;
}
.search-field{
  display: flex;
}
.search-repo,
.search-arch{
  display: flex;
  flex-direction: column;
}