.package-search{
  display: flex;
  flex-direction: column;
  border: 1px solid #bcd;
  background-color: var(--content-bg-color);
  width: 100%;
  padding: 0px 10px 0px 10px;
  justify-content: center;
}
.search-title{
  border-bottom: 1px solid #888;
  padding: 15px;
}
.search-field{
  max-width: 1200px;
}
@media only screen and (min-width:809px) {
  .search-field{
    display: flex;
    justify-content: space-between;
  }
  .search-field button{
    margin: 15px;
    padding: 15px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 536px) and (max-width:808px) {
  .search-field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .search-field button{
    margin: 7px;
    padding: 7px;
    font-size: 12px;
  }
  .loading{
    align-self: center;
    justify-self: center;
  }
}
@media only screen and (max-width: 535px){
  .search-field{
    display: flex;
    flex-direction: column;
  }
  .search-field button{
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
  .loading{
    align-self: center;
  }
}
.search-field button{
  align-self: center;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black;
  min-width: max-content;
  padding: 5px;
}
.search-terms{
  width: 100%;
  max-width: 500px;
}
.search-button{
  min-width: max-content;
}
.search-repo select,
.search-arch select{
  width: 100%;
}
.search-repo,
.search-arch,
.search-terms{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.loading{
  width: 30px;
}
