.package{
  background-color: var(--content-bg-color);
  border: 1px solid #bcd;
}
@media only screen and (min-width:809px) {
  .package{
    margin: 20px 3% 20px 3%;
    font-size: 15px;
  }
}
@media only screen and (max-width:808px) {
  .package{
    margin: 10px 1.5% 10px 1.5%;
    font-size: 13px;
  } 
}
.package-title{
  font-weight: 700;
  border-bottom: 1px solid #888;
  margin: 15px;
  padding: 10px;
}
.package-content,
.dependencies-container ul{
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.dependencies-container ul li:first-child{
  font-weight: 700;
}
.dependencies-container ul li:not(:first-child){
  margin-left: 5px;
  list-style:inside;
}

.package-content li{
  margin: 2px;
  display: flex;
  gap: 5px;
}
.package-content li span:first-child{
  font-weight: 700;
}