@media screen and (max-width: 380px) {
  .pkg-flag-date {
    display: none;
  }
  
  .result * {
    padding: 10px;
    font-size: 2.5vw;
  }
  
  .results-footer {
    padding: 10px;
    margin: 5px;
  }
  
  .current-page {
    font-size: 16px;
  }
  
  .results-footer li:hover,
  .current-page {
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (min-width: 381px) and (max-width: 990px) {
  .pkg-flag-date {
    display: none;
  }
  
  .result * {
    font-size: 2.5vw;
  }
  
  .results-footer {
    padding: 15px;
    margin: 10px;
  }
  
  .current-page {
    font-size: 16px;
  }
  
  .results-footer li:hover,
  .current-page {
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (min-width: 991px) {
  .pkg-flag-date {
    display: block;
  }
  
  .result * {
    padding: 20px;
    font-size: 1vw;
  }
  
  .results-footer {
    padding: 20px;
    margin: 10px;
  }
  
  .current-page {
    font-size: 18px;
  }
  
  .results-footer li:hover,
  .current-page {
    font-size: 18px;
    font-weight: 700;
  }
}
.results:first-child{
  text-align: center;
  font-weight: 800;
  font-size: 2vh;
  margin: 5px;
}
/* Select the first element with class "result" on the page */
.result:not(:first-child) {
  background-color: rgb(253, 241, 241);
}

.result {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
}

.result * {
  width: 100%;
  height: max-content;
  text-align: center;
  padding: 5px;
}

.results-footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

.results-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 700px;
  color: gray;
  cursor: pointer;
}

.current-page {
  color: black;
  font-weight: 700;
}

.results-footer li:hover {
  color: black;
  font-weight: 700;
}
.results-footer button{
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.results-footer button:hover{
  background-color: #cacaca;
}
.aur {
  background-color: #A7D7C5;
}
.core {
  background-color: #FFA07A;
}
.community {
  background-color: #ADD8E6;
}
.extra {
  background-color: #CD5C5C;
}
.multilib {
  background-color: #B19CD9;
}
.kde-unstable {
  background-color: #FFB6C1;
}
.other {
  background-color: #D3D3D3;
}

.results{
  background-color: whitesmoke;
  min-height: 100vh;
}
.search-img {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
}
.search-img:hover{
  background-color: #cacaca;
}