.results{
  background-color: var(--content-bg-color);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #bcd;
}
.results-nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.results-nav-buttons{
  list-style: none;
  display: flex;
  gap: 10px;
}
.results-nav-buttons button{
  padding: 8px;
}
.results-content{
  flex-grow: 1;
}
.result,
.result-labels{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.result-labels{
  border-bottom: 1px solid #888;
  margin-left: 10px;
  margin-right: 10px;
}
.result:hover{
  cursor: pointer;
  background-color: rgb(255, 237, 214);
}
.result *,
.result-labels *{
  font-size: 13px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.results-alt-item{
  background-color: var(--results-alt-bg-color);
}